####################
# Python
####################
__pycache__
*.pyc
*.db
env/
venv/
.pytest_cache/

####################
# Node.js
####################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
dist/
.env
.env.local
.env.development
.env.production

####################
# IDE / Редакторы
####################
.vscode/
.idea/
*.swp
*.swo
*.swn
*.lock

####################
# ОС и файлы системы
####################
.DS_Store
Thumbs.db
desktop.ini
*.log

####################
# Docker и временные папки
####################
*.log
docker-compose.override.yml
frontend_old/
media/
track_service/media/clean/
track_service/media/watermarked/
.docker-compose.yml

####################
# Прочие ненужные файлы
####################
coverage/
temp/
tmp/
.cache

user_service_data/
cart_service_data/
track_service_data/