<div class="track-row">
    <div class="track-play"><button><img alt="Play" width="16" height="16" src="/icons/play.svg"></button></div>
    <div style="display: flex;flex-direction: column;width: 100%;">
        <div style="display: flex;flex-direction: row;width: 100%;justify-content: space-between;align-items: center;">
            <div class="track-vk">Track_8692</div>
            <div class="track-volume-controls"><img alt="Volume" width="16" height="16" src="/icons/volume.svg"><input
                    min="0" max="1" step="0.01" type="range" value="1"></div>
        </div>
        <div class="track-progress-controls" style="
    position: relative;
    margin-top: 4px;
">
            <div class="track-progress-bar" style="width: 0.100124%;"></div>
        </div>
    </div>
    <div class="track-duration">1:30</div>
    <div class="track-price">1000 ₽</div>
    <div class="track-buttons"><button title="Скачать"><img alt="Скачать" width="24" height="24"
                src="/icons/download.svg"></button><button title="В корзину"><img alt="В корзину" width="24" height="24"
                src="/icons/addtocart.svg"></button></div>


</div>