.track-filters {
  padding: 1.5rem;
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  width: 350px;

  h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
  }

  .filter-group {
    margin-bottom: 1.2rem;

    span {
      display: block;
      font-weight: 600;
      margin-bottom: 0.5rem;
      color: #333;
    }

    .rc-slider {
      margin: 0.5rem 0;
    }

    label {
      display: block;
      margin-left: 0.5rem;
      margin-bottom: 0.3rem;
      font-size: 0.95rem;
      color: #555;

      input[type='checkbox'] {
        margin-right: 0.5rem;
      }
    }
  }

  // колонки внутри группы
  .filter-group.two-column {
    .column-wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.3rem 1rem;
    }
  }

  // колонки Темп + Голос
  .filter-columns {
    display: flex;
    gap: 1.5rem;

    .filter-group.half {
      flex: 1;

      label {
        margin-left: 0;
      }
    }
  }
}

.filter-actions {
  text-align: right;
  margin-top: 1rem;

  .reset-button {
    padding: 0.5rem 1rem;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.95rem;
    transition: background-color 0.2s;

    &:hover {
      background-color: #ddd;
    }
  }
}

.price-inputs {
  display: flex;
  gap: 10px;
  margin-bottom: 0.5rem;

  input {
    width: 70px;
    padding: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  label {
    font-size: 0.9rem;
  }
}

.rc-slider-handle {
  border: solid 2px #320568 !important;
  background-color: #320568 !important;
  box-shadow: none !important; // убрать голубое свечение при фокусе
}

.rc-slider-handle:hover {
  border-color: #320568 !important;
}

.rc-slider-track {
  background-color: #320568 !important;
}

.rc-slider-rail {
  background-color: #ddd; // цвет полосы "по умолчанию"
}

// @media (max-width: 800px) {
  /* header */
  // .header__container {
  //   height: auto;
  //   flex-direction: column;
  //   gap: 10px;
  //   padding: 10px;
  // }

  /* main */
  // .main__container {
  //   padding: 0;
  // }
  // .tracks-section {
  //   flex-direction: column-reverse;
  //   align-items: center;
  // }
  // /* cart-page */
  // .cart-page__body {
  //   align-items: center;
  //   flex-direction: column;
  // }
  // .track-price {
  //   max-width: 42px;
  //   width: 100%;
  // }
// }

// @media (max-width: 600px) {
  /* header */
  // .header__links {
  //   gap: 10px;
  // }
  // .header__icon-img {
  //   height: 35px;
  //   width: 35px;
  // }
  // .header__badge {
  //   border: 2px solid #fff;
  //   font-size: 11px;
  // }

  /* main */
//   .track-volume-controls {
//     position: relative;
//     margin: 0 6px;
//   }
//   .track-volume-controls input[type="range"] {
//     width: 57px;
//     position: absolute;
//     top: -11px;
//     left: 2px;
//     transform: rotate(270deg);
//   }
// }

// @media (max-width: 500px) {
//   /* main */
//   .track-list {
//     gap: 10px;
//     padding: 0;
//     max-width: 400px;
//     width: 100%;
//   }

//   .track-row {
//     font-size: 14px;
//     gap: 10px;
//     padding: 10px;
//   }
//   .track-play button img {
//     height: 35px;
//     width: 35px;
//   }
//   .track-buttons button img {
//     height: 27px;
//     width: 27px;
//   }
//   .track-buttons {
//     gap: 10px;
//   }
//   /* cart-page */
//   .cart-page {
//     padding: 15px;
//   }
//   .cart-page__body {
//     align-items: center;
//   }
// }
// @media (max-width: 400px) {
//   /* main */
//   .track-list {
//     max-width: 350px;
//     width: 100%;
//   }
//   .track-row {
//     gap: 10px;
//     padding: 5px;
//   }
//   .track-buttons {
//     gap: 0px;
//   }
//   /* cart-page */
//   .cart-page {
//     padding: 0зч;
//   }
//   .cart-page__body {
//     align-items: center;
//   }
//   .cart-page__summary-box {
//     width: 300px;
//   }
//   .cart-page__body .track-list {
//     max-width: 318px;
//     width: 100%;
//   }
// }
@media (max-width: 350px) {
  /* header */
  // .header__links {
  //   flex-direction: column;
  //   align-items: center;
  // }
  /* main */
  .track-filters {
    padding: 15px;
    width: 300px;
  }
  .tracks-section__filters {
    font-size: 13px;
  }
  .track-filters .filter-group label {
    font-size: 13px;
  }

  // .track-list {
  //   max-width: 300px;
  //   width: 100%;
  // }
  // .track-row {
  //   font-size: 13px;
  //   gap: 10px;
  //   padding: 5px;
  // }
  // .track-play button img {
  //   height: 30px;
  //   width: 30px;
  // }
  // .track-info {
  //   width: 55%;
  // }
  // .track-volume-controls input[type="range"] {
  //   height: 3px;
  //   left: -5px;
  // }
  // .track-volume-controls img {
  //   height: 20px;
  //   width: 20px;
  // }
  // .track-buttons button img {
  //   height: 24px;
  //   width: 24px;
  // }
}
